.navigation {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #be185d;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 7px;
    right: -7px;
  }

  &__links {
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #e5e7eb;
  }
}