.wrapper {
  &__content {
    background-color: #ffffff;
    box-shadow: rgba(163, 163, 163, 0.87) 3px 3px 7px -1px;
    border-radius: 6px;
    margin: 50px 0;
    min-height: 80vh;
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 100px 11fr 100px;
    grid-template-areas: 'search companion'
                         'dialogs messages'
                         'dialogs area';
  }

  &__dialogs {
    grid-area: dialogs;
    border-right: 1px solid #e5e7eb;
  }
}

.messages {
  grid-area: messages;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

